/* .admin {
  padding: 10px;
  max-width: 100rem;
  text-align: center;
} */
/* 
.items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  margin: 2rem auto;
  padding: 30px;
} */
